body {
  font-family: monospace;
}

.container {
  display: flex;
}

#tetris-grid {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  margin-bottom: 50px;
  border: solid 2px;
  height: 420px;
  width: 210px;
}

.grid-block {
  background-color: aqua;
  border: 1px black solid;
  width: 19px;
  height: 19px;
}

.tetromino {
  background-color: brown;
}

.start-box {
  display: flex;
}

#start {
  margin: auto;
}

.box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

h1 {
  text-align: center;
}
